<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News Table</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div class="d-flex justify-content-between align-items-center  mb-4 mt-2">
    <h1>News List</h1>
    <!-- Пошукова форма справа -->
    <form action="/user/news/search" method="get" class="form-inline">
      <input type="text" name="keyword" class="form-control mr-2" placeholder="Enter keyword" required>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <!-- Кнопки для вибору категорій, розтягнуті на всю ширину -->
  <div class="btn-group btn-group-justified d-flex mb-3" role="group">
    <a href="/user/news" class="btn btn-secondary flex-fill">All</a>
    <a href="/user/news/category?category=SPORTS" class="btn btn-secondary flex-fill">Sports</a>
    <a href="/user/news/category?category=POLITICS" class="btn btn-secondary flex-fill">Politics</a>
    <a href="/user/news/category?category=TECHNOLOGY" class="btn btn-secondary flex-fill">Technology</a>
    <a href="/user/news/category?category=HEALTH" class="btn btn-secondary flex-fill">Health</a>
    <a href="/user/news/category?category=ENTERTAINMENT" class="btn btn-secondary flex-fill">Entertainment</a>
    <a href="/user/news/category?category=BUSINESS" class="btn btn-secondary flex-fill">Business</a>
    <a href="/user/news/category?category=SCIENCE" class="btn btn-secondary flex-fill">Science</a>
  </div>

  <!-- Таблиця новин -->
  <table class="table table-striped mt-20">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="news : ${newsList}">
      <td th:text="${news.id}">1</td>
      <td th:text="${news.title}">News Title</td>
      <td th:text="${news.content}">News Content</td>
      <td th:text="${news.category.getDisplayName()}">Category</td>
      <td th:text="${news.date}">2024-10-22</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
